In [1]:
import pandas as pd
from scipy import stats

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("ecb-fx-usd-quote.csv")

# Drop first row
df.drop(index=0, inplace=True)

## Initial code analysis

In [3]:
# Numeric columns
currencies = df.columns[1:]

# Convert numeric columns (originally strings) to floats
df[currencies] = df[currencies].apply(lambda x: pd.to_numeric(x))

# Compute mean and standard deviation
print(df[currencies].describe())

               EUR          JPY          BGN          CZK          DKK
count  5724.000000  5724.000000  5326.000000  5724.000000  5724.000000  \
mean      1.199742     0.009505     0.620309     0.043278     0.161061
std       0.161096     0.001278     0.080795     0.009363     0.021582
min       0.825200     0.007418     0.424028     0.023699     0.110868
25%       1.100200     0.008580     0.571032     0.038755     0.147543
50%       1.203100     0.009187     0.622610     0.043957     0.161575
75%       1.319125     0.009809     0.678341     0.049863     0.177048
max       1.599000     0.013198     0.817568     0.069174     0.214352

               GBP          HUF          PLN          RON          SEK  ...
count  5724.000000  5724.000000  5724.000000  4060.000000  5724.000000  ...  \
mean      1.571588     0.004299     0.292098     0.299741     0.127942  ...
std       0.207342     0.000763     0.048557     0.056714     0.018553  ...
min       1.159837     0.002954     0.212185     0.220740     0.090564  ...
25%       1.425106     0.003584     0.254883     0.248649     0.113967  ...
50%       1.567737     0.004317     0.275144     0.297822     0.125213  ...
75%       1.665557     0.004814     0.321299     0.336265     0.144212  ...
max       2.106427     0.006949     0.493156     0.447877     0.171058  ...

               ILS          INR          KRW          MXN          MYR
count  2650.000000  3164.000000  5724.000000  3420.000000  4125.000000  \
mean      0.275302     0.016949     0.000891     0.066835     0.278045
std       0.013967     0.002916     0.000080     0.014349     0.033456
min       0.245342     0.012998     0.000632     0.039834     0.222348
25%       0.263676     0.014696     0.000843     0.052750     0.244170
50%       0.276008     0.015794     0.000883     0.071277     0.276972
75%       0.285498     0.019471     0.000927     0.077611     0.309799
max       0.318382     0.022716     0.001110     0.101004     0.340193

               NZD          PHP          SGD          THB          ZAR
count  5724.000000  4125.000000  5724.000000  4125.000000  5724.000000
mean      0.666469     0.021251     0.684668     0.030362     0.113996
std       0.116910     0.001730     0.083075     0.002314     0.033368
min       0.392030     0.017763     0.539303     0.023732     0.052436
25%       0.607589     0.019763     0.594242     0.028893     0.080779
50%       0.686862     0.021230     0.709421     0.030782     0.121480
75%       0.742104     0.022712     0.743099     0.032057     0.142305
max       0.881819     0.024863     0.833285     0.034965     0.177974

[8 rows x 33 columns]

In [4]:
# Compute median
print(df[currencies].median())

EUR    1.203100e+00
JPY    9.187066e-03
BGN    6.226097e-01
CZK    4.395716e-02
DKK    1.615745e-01
GBP    1.567737e+00
HUF    4.317029e-03
PLN    2.751441e-01
RON    2.978219e-01
SEK    1.252130e-01
CHF    9.693402e-01
ISK    1.290014e-02
NOK    1.426784e-01
HRK    1.695046e-01
RUB    3.060697e-02
TRL    7.407473e-07
TRY    5.418623e-01
AUD    7.558997e-01
BRL    4.150011e-01
CAD    7.917985e-01
CNY    1.476686e-01
HKD    1.286371e-01
IDR    9.070349e-05
ILS    2.760083e-01
INR    1.579436e-02
KRW    8.828635e-04
MXN    7.127723e-02
MYR    2.769716e-01
NZD    6.868620e-01
PHP    2.123031e-02
SGD    7.094212e-01
THB    3.078217e-02
ZAR    1.214804e-01
dtype: float64

In [5]:
# Define the custom aggregation function for mode, ignoring NaNs
def mode_ignore_nan(series):
    mode_val = stats.mode(series.dropna())
    return mode_val.mode[0]

# Compute mode
print(df[currencies].agg(mode_ignore_nan))

EUR    1.227600e+00
JPY    8.400000e-03
BGN    5.734226e-01
CZK    3.933607e-02
DKK    1.361071e-01
GBP    1.436990e+00
HUF    2.953581e-03
PLN    2.121846e-01
RON    2.490361e-01
SEK    9.056441e-02
CHF    1.000000e+00
ISK    7.197943e-03
NOK    1.686397e-01
HRK    1.491329e-01
RUB    3.877347e-02
TRL    5.671467e-07
TRY    6.761515e-01
AUD    8.571429e-01
BRL    3.062464e-01
CAD    7.564629e-01
CNY    1.208239e-01
HKD    1.290323e-01
IDR    1.098901e-04
ILS    2.883942e-01
INR    2.196819e-02
KRW    7.692308e-04
MXN    7.142857e-02
MYR    2.284755e-01
NZD    5.154550e-01
PHP    2.000000e-02
SGD    5.832419e-01
THB    3.333333e-02
ZAR    1.052632e-01
dtype: float64

## Code cleaning

### Date formatting

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

# Extract year and month into new columns
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [7]:
# Group by year and month and and calcualte mean
grouped_df = df.groupby(['Year', 'Month'])[currencies].mean().reset_index()
grouped_df

,Year,Month,EUR,JPY,BGN,CZK,DKK,GBP,HUF,PLN,...,ILS,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR
0,1999,1,1.160780,0.008839,NaN,0.032490,0.155994,1.651387,0.004628,0.282874,...,NaN,NaN,0.000852,NaN,NaN,0.537713,NaN,0.595396,NaN,0.166908
1,1999,2,1.120765,0.008574,NaN,0.029653,0.150738,1.627806,0.004478,0.263858,...,NaN,NaN,0.000843,NaN,NaN,0.543538,NaN,0.588279,NaN,0.163592
2,1999,3,1.088296,0.008360,NaN,0.028648,0.146424,1.621282,0.004291,0.253319,...,NaN,NaN,0.000814,NaN,NaN,0.532190,NaN,0.578486,NaN,0.161133
3,1999,4,1.070441,0.008353,NaN,0.028183,0.144018,1.609690,0.004241,0.250132,...,NaN,NaN,0.000829,NaN,NaN,0.542912,NaN,0.583609,NaN,0.163192
4,1999,5,1.062810,0.008194,NaN,0.028203,0.142980,1.614581,0.004248,0.254227,...,NaN,NaN,0.000836,NaN,NaN,0.552237,NaN,0.583897,NaN,0.161732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,2021,1,1.217085,0.009636,0.622295,0.046559,0.163616,1.363460,0.003388,0.268478,...,0.310148,0.013676,0.000909,0.050198,0.247605,0.719139,0.020806,0.754094,0.033320,0.066051
265,2021,2,1.209790,0.009489,0.618565,0.046755,0.162677,1.386399,0.003378,0.269034,...,0.305658,0.013736,0.000899,0.049277,0.247179,0.724383,0.020716,0.753275,0.033322,0.067735
266,2021,3,1.189909,0.009197,0.608400,0.045455,0.160014,1.385651,0.003255,0.258762,...,0.301993,0.013732,0.000884,0.048095,0.243300,0.713175,0.020593,0.744859,0.032483,0.066755
267,2021,4,1.197910,0.009180,0.612491,0.046209,0.161080,1.384431,0.003322,0.262623,...,0.305549,0.013397,0.000895,0.049912,0.242697,0.713564,0.020630,0.749856,0.031901,0.069452
268,2021,5,1.208078,0.009164,0.617690,0.047024,0.162460,1.398518,0.003370,0.264830,...,0.306185,0.013583,0.000891,0.049740,0.242880,0.720877,0.020852,0.751046,0.032066,0.070317

### Text formatting

**Note: I converted all currency columns from strings to numeric values above and converted all NaN currency values to 0s here.**

In [8]:
# Fill all NaN values with 0 (will be used in later analysis as an indicator of empty data)
grouped_df[currencies] = grouped_df[currencies].fillna(0)
grouped_df

,Year,Month,EUR,JPY,BGN,CZK,DKK,GBP,HUF,PLN,...,ILS,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR
0,1999,1,1.160780,0.008839,0.000000,0.032490,0.155994,1.651387,0.004628,0.282874,...,0.000000,0.000000,0.000852,0.000000,0.000000,0.537713,0.000000,0.595396,0.000000,0.166908
1,1999,2,1.120765,0.008574,0.000000,0.029653,0.150738,1.627806,0.004478,0.263858,...,0.000000,0.000000,0.000843,0.000000,0.000000,0.543538,0.000000,0.588279,0.000000,0.163592
2,1999,3,1.088296,0.008360,0.000000,0.028648,0.146424,1.621282,0.004291,0.253319,...,0.000000,0.000000,0.000814,0.000000,0.000000,0.532190,0.000000,0.578486,0.000000,0.161133
3,1999,4,1.070441,0.008353,0.000000,0.028183,0.144018,1.609690,0.004241,0.250132,...,0.000000,0.000000,0.000829,0.000000,0.000000,0.542912,0.000000,0.583609,0.000000,0.163192
4,1999,5,1.062810,0.008194,0.000000,0.028203,0.142980,1.614581,0.004248,0.254227,...,0.000000,0.000000,0.000836,0.000000,0.000000,0.552237,0.000000,0.583897,0.000000,0.161732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,2021,1,1.217085,0.009636,0.622295,0.046559,0.163616,1.363460,0.003388,0.268478,...,0.310148,0.013676,0.000909,0.050198,0.247605,0.719139,0.020806,0.754094,0.033320,0.066051
265,2021,2,1.209790,0.009489,0.618565,0.046755,0.162677,1.386399,0.003378,0.269034,...,0.305658,0.013736,0.000899,0.049277,0.247179,0.724383,0.020716,0.753275,0.033322,0.067735
266,2021,3,1.189909,0.009197,0.608400,0.045455,0.160014,1.385651,0.003255,0.258762,...,0.301993,0.013732,0.000884,0.048095,0.243300,0.713175,0.020593,0.744859,0.032483,0.066755
267,2021,4,1.197910,0.009180,0.612491,0.046209,0.161080,1.384431,0.003322,0.262623,...,0.305549,0.013397,0.000895,0.049912,0.242697,0.713564,0.020630,0.749856,0.031901,0.069452
268,2021,5,1.208078,0.009164,0.617690,0.047024,0.162460,1.398518,0.003370,0.264830,...,0.306185,0.013583,0.000891,0.049740,0.242880,0.720877,0.020852,0.751046,0.032066,0.070317

### Export clean data

In [9]:
grouped_df.to_csv("ecb-fx-usd-quote-clean.csv", index=False)